@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<svelte-app id="khalid" name="Emrullah"></svelte-app>
<svelte-app id="paul" name="Eslem"></svelte-app>

<div style="width: 300px">
    <svg-clock></svg-clock>
</div>